.coauthors{
    /* font-size: 85%; */
    font-style: italic;
    /* font-weight: bold; */
    color: #6c757d;
}

.journal{
    font-size: 100%;
    /* text-decoration: underline; */
    font-style: italic;
    font-weight: bold;
    color: #3498db;
}

.status{
    /* font-size: 100%; */
    font-style: italic;
/*    text-decoration: underline;*/
/*    font-weight: bold;*/
    color: #3e9cbf;
    /* color: #3498db; */
    font-size: 0.8rem;
}

.abstract{
    font-size: 80%;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
/*    font-style: italic;*/
    text-align: justify;
}
img.icon {
    margin: 10px;
}

img.photo {
/*    border-color: black;
    border-width: 1px;
    border-style: solid;*/
    padding: 1px;
    width: 280px;
    margin: 10px;
}

a.icon {
    font-size:0; 
    text-decoration:none; 
}
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.btn-outline-secondary {
    --bs-btn-color: #3498db;
    --bs-btn-border-color: #3498db;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3498db;
    --bs-btn-hover-border-color: #3498db;
    --bs-btn-check-color: #fff;
    --bs-btn-check-bg: #3498db;
    --bs-btn-check-border-color: #3498db;
    --bs-btn-focus-shadow-rgb: 52, 152, 219;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2980b9;
    --bs-btn-active-border-color: #2980b9;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.btn i.bi {
    vertical-align: baseline;
    margin-right: 0.1rem;
    position: relative;
    top: 0px; /* Adjust this value as needed */
}