body{

    background-color: #f3f3f3;

	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
	font-size: normal;
	margin: auto;
	width: 75%;
}

img{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 3px;
    width: 165px;
}

li{
	list-style-type: circle;
}

header {
    float: left;
    position: fixed;
    width: 10%;
    -webkit-font-smoothing: subpixel-antialiased;
}

section {
    width: 80%;
    float: right;
    margin: 50px 0px;
}

a.small{
	text-decoration: none;
	font-size: 70%;
	color: #3366FF;
}

a.large{
	text-decoration: none;
	color: #3366FF;
}
.right{
	text-align: right;
}

.coauthors{
	font-size: 70%;
	font-style: italic;
}

.journal{
	font-size: 90%;
	text-decoration: underline;
	font-style: italic;
}

.status{
	font-size: 70%;
	font-style: italic;
}

.abstract{
	font-size: 70%;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
	font-style: italic;
	text-align: justify;
}

#copyright{
    font-size: 80%;
    text-align: center;
}

@media print, screen and (max-width: 1160px) {
  header, section {
    float: none;
    position: static;
    width: auto; }

  section {
    padding: 20px 0;
    margin: 0 0 20px; }}
